* {
    font-family: 'Quicksand', sans-serif;
    
}

body {
    margin: 0;
}

.navbar {
    display: flex;
    align-items: center;
    font-size: 22px;
    width: 900px;
    height: 75px;
    position: relative; left: 490px;
    font-family: 'Quicksand', sans-serif;
    background-color:black;
    color: white;
} 

.MainText {
    flex: 1;
    position: relative; left: 850px;
    
}

.card {
    display: flex;
    justify-content: center;
    position: relative; left: 490px;
    background-color: rgb(191, 225, 231);
    width: 200px;
    height: 315px;
    border-style: solid;
    
}



img {
    border-radius: 50px;
    position: relative; top: 30px;
    position: relative; left: 20px;
    
}

h2 {
    position: relative; top: 35px;
    font-size: 32px;

}

.MainRowTop {
    flex: 1;
    padding-left: 15px;
    border-style: solid;
    width: 570px;
    height: 170px;
    position: relative; left: 800px;
    position: relative; bottom: 320px;
    font-size: 18px;
}


.MainRowMiddle {
    padding-left: 20px;
    border-style: solid;
    width: 565px;
    height: 170px;
    position: relative; left: 800px;
    position: relative; bottom: 310px;
    font-size: 18px;
}

.MainRowBottom {
    padding-left: 10px;
    border-style: solid;
    width: 575px;
    height: 170px;
    position: relative; left: 800px;
    position: relative; bottom: 300px;
    font-size: 18px;
}



button#demo1.btn-click-count {
    background-color: rgb(255, 217, 102);
    width: 80px;
    height: 35px;
    box-shadow: 5px 5px;
    position: relative; left: 470px;
    position: relative; bottom: 150px

}


button#demo2.btn-click-count{
    background-color: rgb(255, 217, 102);
    width: 80px;
    height: 35px;
    box-shadow: 5px 5px;
    position: relative; left: 470px;
    position: relative; bottom: 125px
} 


button#demo3.btn-click-count{ 
    background-color: rgb(255, 217, 102);
    width: 80px;
    height: 35px;
    box-shadow: 5px 5px;
    position: relative; left: 480px;
    position: relative; bottom: 150px
} 


    
h1 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

p {
    font-size: 20px;
}